- title(t('.title'))

.first.box
  %h2
    %a Прайсы
  %h3 Сейчас в системе #{@price_count} прайс
  %p
    %ul
      - @companies.each do |company|
        %li
          = link_to(company.name, company_prices_path(company))
          = company.prices.count

.box
  %h2
    %a Импорт конфигурации
  = form_tag(scraped_configurations_path, :method => :post) do
    = url_field_tag :url, params[:url], {:placeholder => "Ссылка на конфигурацию", :class => "search text"}
    = submit_tag "Импортировать", {:name => nil, :class=>"search button btn"}