- title(t('.title'))

.hero-unit
  %h1 Pricer
  %p
    Вы собрали конфигурацию своего будущего компьютера, и хотите узнать, сколько она будет стоить в другом компьютерном магазине?
  %p
    Или может быть, хотите узнать, насколько популярными выбранные Вами компоненты?
  %p
    Или какие еще есть похожие конфигурации?

  %p
    На все эти вопросы Вам ответит система Pricer :)
  %p
    %a.btn.btn-primary.btn-large
      Узнать подробности »

.row
  .span4
    %h3
      Прайсы
      %small= @price_count

    %p
      %ul.unstyled
        - @companies.each do |company|
          %li
            %h4
              = link_to(company.name, company_prices_path(company))
              %small= company.prices.count

  .span4
    %h3
      Конфигурации
      %small= @config_count
    %p
      %ul.unstyled
        - @companies.each do |company|
          %li
            %h4
              = link_to(company.name, company_scraped_configurations_path(company))
              %small= company.scraped_configurations.count

  .span4
    %h3 Импорт своей конфигурации
    .bootstrap-forms
      = form_tag(scraped_configurations_path, :method => :post, :class => "form-inline") do
        = url_field_tag :url, params[:url], {:placeholder => "Ссылка на конфигурацию", :class => "span3"}
        = submit_tag "Импортировать", {:name => nil, :class=>"search button btn"}