= form_for @configuration_line do |f|
  = f.error_messages
  %p
    = f.label :price_id
    %br
    = f.text_field :price_id
  %p
    = f.label :quantity
    %br
    = f.text_field :quantity
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.submit
