- title t('configutation_lines.index.title')

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Price
      %th Quantity
      %th Price
      %th Description
  %tbody
    - for configuration_line in @configuration_lines
      %tr
        %td= configuration_line.price_id
        %td= configuration_line.quantity
        %td= configuration_line.price
        %td= configuration_line.description
        %td= link_to t('show'), [@configuration, configuration_line], :class => 'btn'
        %td= link_to t('edit'), [:edit, @configuration, configuration_line], :class => 'btn'
        %td= link_to t('destroy'), [@configuration, configuration_line], :confirm => 'Are you sure?', :method => :delete, :class => 'btn'


-#%p= link_to t('configuration_lines.index.add_component'), new_configuration_line_path
