- title t('configuration_lines.show.title')

%p
  %strong Price:
  = @configuration_line.price_id
%p
  %strong Quantity:
  = @configuration_line.quantity
%p
  %strong Price:
  = @configuration_line.price
%p
  %strong Description:
  = @configuration_line.description

%p
  = link_to t('edit'), edit_configuration_line_path(@configuration_line)
  |
  = link_to "Destroy", @configuration_line, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", configuration_lines_path
