- title t('configuration_lines.show.title')

%p
  %strong Price:
  = @configuration_line.price_id
%p
  %strong Quantity:
  = @configuration_line.quantity
%p
  %strong Price:
  = @configuration_line.price
%p
  %strong Description:
  = @configuration_line.description

%p
  = link_to t('edit'), [:edit, @configuration, @configuration_line]
  |
  = link_to t('destroy'), [@configuration, @configuration_line], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to t('view_all'), @configuration
