%h3
  = link.item
%h4
  %span.label{ :class => "label-#{link.price.company.name.downcase}" }
    = link.price.company.name
  = link.price
%p
  Difference
  %p
    - Differ.format= :html
    != Differ.diff_by_word(link.price.to_s.downcase, link.item.to_s.downcase)

%p
  %strong Создана роботом:
  = !link.human?
%p
  %strong Баллы:
  = link.score

%br
.btn-group
  = link_to t('edit'), edit_link_path(link), :class => 'btn'
  = link_to t('destroy'), link, :confirm => t('.are_you_sure'), :method => :delete, :class => 'btn'
  