- title t(".title")

-#Записей: #{@links.total_entries}

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th В справочнике
      %th В прайсе
      %th Человеком?
      %th Балы
      %th Действия
  %tbody
    - for link in @links
      %tr
        %td= link_to link.item, link.item
        %td
          %span.label
            =link.price.company.name
          =link_to link.price, [link.price.company, link.price]
        %td= link.human
        %td= link.score
        %td
          .btn-group
            = link_to link, :class => "btn" do
              %i.icon-search
              Показать
            = link_to edit_link_path(link), :class => "btn" do
              %i.icon-pencil
            = link_to link, :confirm => 'Are you sure?', :method => :delete, :class => "btn" do
              %i.icon-trash

= paginate @links

%p= link_to "Новая связь", new_link_path()