- title "Links"

-#Записей: #{@links.total_entries}

%table
  %tr
    %th Item
    %th Price
    %th Human
    %th Score
  - for link in @links
    %tr
      %td= link_to link.item, link.item
      %td= link_to link.price, [link.price.company, link.price]
      %td= link.human
      %td= link.score
      %td= link_to 'Show', link
      %td= link_to 'Edit', edit_link_path(link)
      %td= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete

= paginate @links

%p= link_to "New Link", new_link_path()
