- title "Link"

%p
  %strong Item:
  = @link.item
%p
  %strong Price:
  = @link.price
%p
  %strong Human:
  = @link.human?
%p
  %strong Score:
  = @link.score

%p
  = link_to "Edit", edit_link_path(@link)
  |
  = link_to "Destroy", @link, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", links_path
