- title t('.title')

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Company
      %th Название
      %th Ссылка
      %th Цена сборки
      %th Общая стоимость
  %tbody
    - for scraped_config in @scraped_configurations
      %tr
        %td= scraped_config.company.name
        %td= link_to scraped_config.name, scraped_config
        %td= link_to scraped_config.url.split("/").last, scraped_config.url
        %td= scraped_config.assembly_price
        %td= scraped_config.total_price
        %td= link_to t('edit'), edit_scraped_configuration_path(scraped_config), :class => "btn"
        %td= link_to t('destroy'), scraped_config, :confirm => 'Are you sure?', :method => :delete, :class => "btn"

= paginate @scraped_configurations

%p= link_to "New Scraped Configuration", new_scraped_configuration_path
