- title t('.title')

%table
  %tr
    %th Company
    %th Название
    %th Ссылка
    %th Цена сборки
    %th Общая стоимость
  - for scraped_config in @scraped_configurations
    %tr
      %td= scraped_config.company_id
      %td= scraped_config.name
      %td= scraped_config.url
      %td= scraped_config.assembly_price
      %td= scraped_config.total_price
      %td= link_to t('show'), scraped_config
      %td= link_to t('edit'), edit_scraped_configuration_path(scraped_config)
      %td= link_to t('destroy'), scraped_config, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Scraped Configuration", new_scraped_configuration_path
