- title t('.title')

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Название
      %th Ссылка
      %th Дата
      %th Цена сборки
      %th Общая стоимость
  %tbody
    - for config in @scraped_configurations
      %tr
        %td
          %span.label{:class => "label-#{config.company.name.downcase}" }
            #{config.company.name}
          = link_to !config.name || config.name.empty? ? "Без названия" : config.name, config

        %td= link_to config.url.split("/").last, config.url
        %td= l(config.created_at.to_date)
        %td= format_price(config.assembly_price)
        %td= format_price(config.total_price)
        %td
          .btn-group
            =link_to edit_scraped_configuration_path(config), :class => "btn" do
              %i.icon-pencil
            =link_to config, :confirm => 'Are you sure?', :method => :delete, :class => "btn" do
              %i.icon-trash

= paginate @scraped_configurations
