- title "Конфигурация << #{@scraped_configuration.name} >> "

%h3
  %span.label{ :class=> "label-#{@scraped_configuration.company.name.downcase}"}
    =@scraped_configuration.company.name
  =link_to @scraped_configuration.name, @scraped_configuration.url


- if @scraped_configuration.assembly_price && @scraped_configuration.assembly_price > 0
  %p
    %strong Цена сборки:
    = "#{@scraped_configuration.assembly_price} ₷"
- if @scraped_configuration.total_price && @scraped_configuration.total_price > 0
  %p
    %strong Полная стоимость конфигурации на момент создания:
    = "#{@scraped_configuration.total_price} ₷"

- if @scraped_configuration.configuration_lines.size > 0
  .box
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th Запись в прайс-листе
          %th Запись в справочнике
          %th Количество
          %th Стоимость на сайте
          %th Текущая стоимость
      %tbody
        - @scraped_configuration.configuration_lines.each do |line|
          %tr
            %td= link_to line.price, [@scraped_configuration.company, line.price]
            -if ! line.price.items[0]
              %td= link_to "Прайс не связан, создать связь", new_link_path(:price_id => line.price.id), :class => "btn btn-primary"
            -else
              %td= link_to line.price.items[0], line.price.items[0]
            %td= line.quantity
            %td= line.price_value
            -if line.price && line.price.price_histories.last
              %td= line.price.price_histories.last.value
            -else
              %td
                N/A

.btn-group
  = link_to edit_scraped_configuration_path(@scraped_configuration), :class => "btn" do
    %i.icon-pencil
    =t("edit")

  = link_to @scraped_configuration, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" do
    %i.icon-trash
    =t("destroy")

%p
  = link_to t("view_all"), scraped_configurations_path
