-title t('.title')

%h1= t('.title')

.row
  .span8
    = semantic_form_for([@company, @price]) do |f|
      = f.inputs do
        = f.input :company
        = f.input :description, :input_html => {:class => "input-xlarge"}
        = f.input :original_description, :input_html => {:class => "input-xlarge"}
        = f.input :warehouse_code
        = f.input :vendor_code
        = f.input :price
        = f.input :web_link

      = f.actions :submit, :cancel

= link_to t('show'), [@company, @price]
= link_to t('back'), company_prices_path(@company)

