- title(t('.title', :company_name => @company.name))
%h1= t('.title', :company_name => @company.name)

-#Записей: #{@prices.total_entries}

Сортировать
=link_to t('.sort_by_date'), params.merge(:sort=>'recent', :page=> nil)
|
=link_to t('.sort_by_name'), params.merge(:sort=>'name', :page=> nil)
%br

%table.grid
  %tr
    %th= t('.warehouse_code')
    %th= t('.name')
    %th= t('.price')

  - @prices.each do |price|
    = render :partial => "price", :locals => {:price => price}

= paginate @prices
