%h2 Компания: #{@price.company.name}
%h3 #{@price.original_description}

Цена: #{@price.price}

%br
%br

- if @price.cross_prices.count > 0
  %table{:style => "width:100%"}
    %tr
      %th Складской код
      %th Наименование
      %th Цена
    - @price.cross_prices.each do |cross|
      %tr
        %td(colspan="3" style="text-align:center")
          %strong
            = cross.company.name
      = render :partial => "price", :locals => {:price => cross}


%br

= link_to 'Edit', [:edit, @company, @price]
|
= link_to 'Back', company_prices_path(@company)

