%h4
  %span.label{:class => "label-#{@price.company.name.downcase}" }
    #{@price.company.name}
  %span.label{:class => "label-#{@price.company.name.downcase}" }
    #{@price.warehouse_code}
  %span.price-title
    #{@price.original_description}


%h3= "#{@price.price_value} ₷"

%br
-if @price.vendor_code
  = t(:warehouse_code) + ": #{@price.vendor_code}"

-if @price.web_link
  %br
  %a{:href=>"#{@price.product_web_link}", :class => "colorbox"}
    = t('.web_link')

%br
%br

- if @price.cross_prices.count > 0
  %table.table.table-striped.table-bordered.table-condensed{:style => "width:100%"}
    %tr
      %th= t(:warehouse_code)
      %th= t(:name)
      %th.numeric= t(:price)
      %th 
    - @price.cross_prices.each do |cross|
      = render :partial => "price", :locals => {:price => cross}

%br
-if @price.items.count > 0
  %strong
    =t('.item_record_title')
  %br
  =link_to @price.items[0], @price.items[0]
  %br
  =link_to("Link", @price.links[0])
  %br
-else
  =link_to("Со справочником не связан, создать связь", new_link_path(:price_id => @price.id))
  %br
  %br

- if !@price.price_histories.empty?
  %strong
    = t('.pricehistory_title')
  #tabledata{:style => "display:none;"}
    %table{:style => "width:50%"}
      %tr
        %th Дата
        %th= t(:price)
      - @price.price_histories.each do |history|
        %tr
          %td= history.created_at
          %td.numeric= history.value
  #flot_placeholder{ "data-graph" => "[#{@price.as_flot_data}]" }


%br
= link_to 'Edit', [:edit, @price.company, @price]
|
= link_to 'Back', company_prices_path(@price.company)
