- title t('.title')
=content_for :javascripts do
  :javascript
    $('#q').focus();
    function clearHiddenFields(){
      $("#link_price_id").val("");
      $("#link_item_id").val("");
      $("#link_other_prices").val("");
    }

    $('table.prices, table.items').selectable({
      filter: 'tr',
      cancel: 'a',
      stop: function() {

        clearHiddenFields();

        $("tr.ui-selected").each(function(){

          // select children for highlighting
          $(this).children().addClass("ui-selected");

          // save item id
          if ($(this).data("item_id") != null ) {
            $("#link_item_id").val($(this).data("item_id"));
          }

          // save all price id
          if ($(this).data("price_id") != null ) {
            if ($("#link_price_id").val() != "") {
              var existing_data = $("#link_other_prices").val();
              if (existing_data.length > 0)
                existing_data = existing_data + ",";
              $("#link_other_prices").val(existing_data + $(this).data("price_id"));
            }
            else
              $("#link_price_id").val($(this).data("price_id"));
          }
          
        });
        // remove selection from deselected items
        $("table.prices tr:not(.ui-selected), table.items tr:not(.ui-selected)").each(function(){
          $(this).children().removeClass("ui-selected");
        });
      }
    });
    //$('table.items').selectable({filter:'tr', cancel: 'a'});

.grid_4
  .box
    %p= search_box
.clear

- if @prices
  %h1(style="display:inline") Найденные товары
  (#{@prices.total_entries})

  %br
  %br

  %table.grid.prices.selectable
    %tr
      %th Компания
      %th Складской код
      %th Наименование
      %th Цена
      %th Связан?


    - @prices.each do |price|
      - if price
        %tr{:data => {:price_id=>price.id}}
          %td= link_to(price.company.name, company_prices_path(price.company))
          %td= price.warehouse_code
          %td= link_to(price.original_description, [price.company, price])
          %td= price.price
          %td
            -if price.items.count > 0
              Да
            -else
              Нет

  = paginate @prices

  %br
  .box
    = semantic_form_for(Link.new(:human=>true, :score=>10), :url=> url_for(:action => "create", :controller => "links"), :method=>:post) do |f|
      = f.inputs do
        = f.input :item_id, :as => :hidden
        = f.input :price_id, :as => :hidden
        = f.input :human, :as => :hidden
        = f.input :score, :as => :hidden
        = f.hidden_field :other_prices
      = add_button_submit_tag "Связать"

  %h1(style="display:inline") Найденные записи из справочника

  - if @items
    (#{@items.total_entries})

  %br
  %br

  - if @items
    %table.grid.items.selectable
      %tr
        %th Наименование
        %th Прайсов

      - @items.each do |item|
        - if item
          %tr{:data => {:item_id => item.id}}
            %td= link_to(item.original_description, item)
            %td= item.prices.count

    = paginate @items

    %br

-if params[:q]
  %h1 Поиск по фирмам
  - Company.all.each do |company|
    = render :partial => "search_iframe", :locals => {:company => company}
