- title t('.title')

=content_for :javascripts do
  :javascript
    $(function() {
      window.App = new window.SearchRouter();
      Backbone.history.start();

      $(".search.button").click(function (e) {
          var value = $(e.target).prev().val();
          $("#q").val(value);
          window.App.navigate('search/' + value, true);
          return false;
      });

      pricesView = new PricesView({el: $('#new_prices'), collection: prices});
      itemsView = new ItemsView({el: $('#new_items'), collection: items});

      window.items.reset(#{@items.to_json});
      window.prices.reset(#{@prices.to_json});

      $('#q').focus();
      $("#link_btn").click(function(){
          var selected_prices = prices.selected();
          var selected_items = items.selected();
          if (selected_prices.size() == 0) {
            alert("No prices selected!");
            return false;
          }
          if (selected_items.size() === 0 || selected_items.size() > 1) {
              alert("Select one item (only)!");
              return false;
          }
          selected_items.first().link_items(selected_prices, true, 10);
          selected_prices.each(function(price){
            price.set({selected:false});
          });
          return false;
      });
    });

.grid_4
  .box
    %p= search_box
.clear
%noscript
  - if @prices && @prices.count > 0
    %h1(style="display:inline") Найденные товары
    (#{@prices.total_entries})

    %br
    %br

    %table.grid.prices.selectable
      %tr
        %th Компания
        %th Складской код
        %th Наименование
        %th Цена
        %th Связан?


      - @prices.each do |price|
        - if price
          %tr{:data => {:price_id=>price.id}}
            %td= link_to(price.company.name, company_prices_path(price.company))
            %td= price.warehouse_code
            %td= link_to(price.original_description, [price.company, price])
            %td= price.price
            %td
              -if price.items.count > 0
                Да
              -else
                Нет

    = paginate @prices

    %br
    .box
      = semantic_form_for(Link.new(:human=>true, :score=>10), :url=> url_for(:action => "create", :controller => "links"), :method=>:post) do |f|
        = f.inputs do
          = f.input :item_id, :as => :hidden
          = f.input :price_id, :as => :hidden
          = f.input :human, :as => :hidden
          = f.input :score, :as => :hidden
          = f.hidden_field :other_prices
        = add_button_submit_tag "Связать"

    %h1(style="display:inline") Найденные записи из справочника

    - if @items
      (#{@items.total_entries})

    %br
    %br

    - if @items
      %table.grid.items.selectable
        %tr
          %th Наименование
          %th Прайсов

        - @items.each do |item|
          - if item
            %tr{:data => {:item_id => item.id}}
              %td= link_to(item.original_description, item)
              %td= item.prices.count

      = paginate @items

      %br

#new_prices_div
  %h1(style="display:inline") Найденные товары
  (
  %span#prices_count
  )
  %table.grid.prices.selectable
    %thead
      %tr
        %th Компания
        %th Складской код
        %th Наименование
        %th Цена
        %th Связан?
      %tbody(id="new_prices")

#link_button
  =safe_button_link_to("Связать!", {:href => "#"}, :id => "link_btn", :href => "#")

#new_items_div
  %h1(style="display:inline") Найденные записи из справочника
  (
  %span#items_count
  )
  %table.grid.items.selectable
    %thead
      %tr
        %th Наименование
        %th Прайсов
    %tbody(id="new_items")

-if params[:q]
  %h1 Поиск по фирмам
  - Company.all.each do |company|
    = render :partial => "search_iframe", :locals => {:company => company}

%script#price-template{:type=>"text/template"}
  %td
    %a{:href=>"companies/<%= company_id %>/prices"}
      <%= company.name %>
  %td
    <%= warehouse_code %>
  %td
    %a{:href=>"companies/<%= company_id %>/prices/<%= id %>"}
      <%= original_description %>
  %td
    <%= price %>
  %td
    <%= linked %>


%script#item-template{:type=>"text/template"}
  %td
    %a{:href=>"items/<%= id %>"}
      <%= original_description %>
  %td
    <%= prices_count %>

