- title t('.title')

=content_for :javascripts do
  :javascript
    $(function() {
      window.App = new window.SearchRouter();
      Backbone.history.start();

      $(".form-search").submit(function(event){
        var value = $("#q", $(event.target)).val();
        $("#q").val(value);
        window.App.navigate('search/' + value, true);
        return false;
      });

      var pricesView = new PricesView({el: $('#new_prices'), collection: prices});
      var itemsView = new ItemsView({el: $('#new_items'), collection: items});

      items.reset(#{@items.to_json});
      prices.reset(#{@prices.to_json});

      var linkerView = new LinkerView({items: items, prices: prices});
      $("#link_button").append(linkerView.render().el);
      var itemCreatorView = new ItemCreatorView({ prices: prices });
      $("#link_button").append(itemCreatorView.render().el);

      $('#q').focus();

      $("#new_item .modal-footer a.btn.btn-primary").on("click", function(){
        $form = $("#new_item .modal-body form");
        $form.submit();
      });

      $("#new_item .modal-footer a.btn:not(.btn-primary)").on("click", function(){
        $("#new_item").modal("hide");
      });

      $('#accordion').on('show', function (evt) {
        var $toggler = $(evt.target);
        var url = $toggler.data("url");
        $div = $(".accordion-inner", $toggler);
        $('<iframe class="external-search"/>').attr('src', url).appendTo($div);
      })
    });

.row
  .span5
    .bootstrap-forms
      %p= search_box("form-search")

%noscript
  - if @prices && @prices.count > 0
    %h2(style="display:inline") Найденные товары
    (#{@prices.total_entries})

    %br
    %br

    %table.table.table-striped.table-bordered.table-condensed.prices.selectable
      %thead
        %tr
          %th Компания
          %th Складской код
          %th Наименование
          %th Цена
          %th Связан?

      %tbody
        - @prices.each do |price|
          - if price
            %tr{:data => {:price_id=>price.id}}
              %td= link_to(price.company.name, company_prices_path(price.company))
              %td= price.warehouse_code
              %td= link_to(price.original_description, [price.company, price])
              %td= price.price
              %td
                -if price.items.count > 0
                  Да
                -else
                  Нет

    = paginate @prices

    %br
    .box
      = semantic_form_for(Link.new(:human=>true, :score=>10), :url=> url_for(:action => "create", :controller => "links"), :method=>:post) do |f|
        = f.inputs do
          = f.input :item_id, :as => :hidden
          = f.input :price_id, :as => :hidden
          = f.input :human, :as => :hidden
          = f.input :score, :as => :hidden
          = f.hidden_field :other_prices
        = f.actions :submit

    %h2(style="display:inline") Найденные записи из справочника

    - if @items
      (#{@items.total_entries})

    %br
    %br

    - if @items
      %table.table.table-striped.table-bordered.table-condensed.items.selectable
        %thead
          %tr
            %th Наименование
            %th Прайсов
        %tbody
          - @items.each do |item|
            - if item
              %tr{:data => {:item_id => item.id}}
                %td= link_to(item.original_description, item)
                %td= item.prices.count

      = paginate @items

      %br
.row
  .span12
    #new_prices_div
      %h2(style="display:inline") Найденные товары
      (
      %span#prices_count
      )
      %table.table.table-striped.table-bordered.table-condensed.grid.prices.selectable
        %thead
          %tr
            %th Компания
            %th Складской код
            %th Наименование
            %th Цена
            %th Связан?
          %tbody(id="new_prices")

#link_button

.row
  .span12
    #new_items_div
      %h2(style="display:inline") Найденные записи из справочника
      (
      %span#items_count
      )
      %table.table.table-striped.table-bordered.table-condensed.grid.items.selectable
        %thead
          %tr
            %th Наименование
            %th Прайсов
        %tbody(id="new_items")

-if params[:q]
  %h2 Поиск по фирмам
  #accordion.accordion
    - Company.all.each do |company|
      = render :partial => "search_iframe", :locals => {:company => company}


#new_item.modal.hide
  .modal-header
    %button.close{ :data => { :dismiss => "modal"} } ×

    %h3 Новый элемент справочника
  .modal-body
    %p One fine body…
  .modal-footer
    %a.btn{:href => "#"} Закрыть
    %a.btn.btn-primary{:href => "#"} Создать

%script#price-template{:type=>"text/template"}
  %td
    %a{:href=>"companies/<%= company_id %>/prices"}
      <%= company.name %>
  %td
    <%= warehouse_code %>
  %td
    %a{:href=>"companies/<%= company_id %>/prices/<%= id %>"}
      <%- original_description %>
  %td
    <%= price %>
  %td
    <%= linked %>


%script#item-template{:type=>"text/template"}
  %td
    %span.label
      <%= fcenter_code %>

    %a{:href=>"items/<%= id %>"}
      <%= original_description %>
  %td
    <%= prices_count %>


