=content_for :javascripts do
  :javascript
    $("#q").focus();

%h1(style="display:inline") Найденные товары

- if @prices
  (#{@prices.total_entries})

%br
%br
= form_tag(searches_path, :method => 'get') do
  %p
    = text_field_tag :q, params[:q]
    = submit_tag t(:search), :name => nil

- if @prices
  %table
    %tr
      %th Компания
      %th Складской код
      %th Наименование
      %th Цена
      %th Альтернатив


    - @prices.each do |price|
      - if price
        %tr
          %td=link_to(price.company.name, company_prices_path(price.company))
          %td= price.warehouse_code
          %td= link_to(price.original_description, [price.company, price])
          %td= price.price
          %td= price.cross_prices.count

  = paginate @prices

  %br

    %h1(style="display:inline") Найденные items

    - if @items
      (#{@items.total_entries})

    %br
    %br

    - if @items
      %table
        %tr
          %th Наименование
          %th Прайсов

        - @items.each do |item|
          - if item
            %tr
              %td= link_to(item.original_description, item)
              %td= item.prices.count

      = paginate @items

      %br
