- title "Items"

-#Записей: #{@items.total_entries}

%table
  %tr
    %th Description
    %th Original description
  - for item in @items
    %tr
      %td= item.description
      %td= item.original_description
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete

= paginate @items

%p= link_to "New Item", new_item_path(item)
