- title "Item"

%p
  %h3= @item.original_description

%br
%p
  F-Center code:
  #{@item.fcenter_code}

%br

- if @item.vendor_code
  %p
    %strong Vendor Code:
    = @item.vendor_code

- unless @prices_links.empty?
  .box
    %h2 Связанные элементы

    %table{:style => "width:100%"}
      %thead
        %tr
          %th Компания
          %th Наименование
          %th Цена
          %th Отвязать
      %tbody
        - @prices_links.each do |price_link_pair|
          = render 'prices/price', :price => price_link_pair[:price], :link => price_link_pair[:link]

  .clear
  .box
    %h2
      = t('.pricehistory_title')
    #flot_placeholder{"data-graph" =>"[#{@item.as_flot_data}]"}


%p
  = link_to "Edit", edit_item_path(@item)
  |
  = link_to "Destroy", @item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", items_path