- title t('.title')

%p
  %h3
    %span.label{:class => "label-f-center" }
      #{@item.fcenter_code}
    =@item.original_description


%br

- if @item.vendor_code
  %p
    %strong Vendor Code:
    = @item.vendor_code

- unless @prices_links.empty?
  .box
    %h3
      Связанные элементы
      %small= @prices_links.count

    %table.table.table-striped.table-bordered.table-condensed{:style => "width:100%"}
      %thead
        %tr
          %th Компания
          %th Наименование
          %th Цена
          %th Отвязать
      %tbody
        - @prices_links.each do |price_link_pair|
          = render 'prices/price', :price => price_link_pair[:price], :item_link => price_link_pair[:link]

  .clear
  .box
    %h3
      = t('.pricehistory_title')
    #flot_placeholder{:data => {:graph =>"[#{@item.as_flot_data}]"}}


%p
  = link_to t("edit"), edit_item_path(@item), :class => "btn"
  = link_to t("destroy"), @item, :confirm => 'Are you sure?', :method => :delete, :class => "btn"
  %p
    or
    =link_to "View All", items_path

