- title "Item"

%p
  %h3= @item.original_description

%br
%p
  F-Center code:
  #{@item.fcenter_code}

%br

- if @item.vendor_code
  %p
    %strong Vendor Code:
    = @item.vendor_code

- unless @prices_links.empty?
  %h4 Связанные элементы
  %table{:style => "width:100%"}
    %tr
      %th Складской код
      %th Наименование
      %th Цена
    - @prices_links.each do |price_link_pair|
      = render 'prices/price', :price => price_link_pair[:price], :link => price_link_pair[:link]

  %strong
    = t('.pricehistory_title')
  #flot_placeholder{:style => "width:800px;height:300px;display:block;", "data-graph" =>"[#{@item.get_history_data_for_javascript}]"}
  

%p
  = link_to "Edit", edit_item_path(@item)
  |
  = link_to "Destroy", @item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", items_path
