- title "Price Histories"

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Price
      %th Price
  %tbody
    - for price_history in @price_histories
      %tr
        %td= price_history.price_id
        %td= price_history.price
        %td= link_to 'Show', price_history, :class => "btn"
        %td= link_to 'Edit', edit_price_history_path(price_history), :class => "btn"
        %td= link_to 'Destroy', price_history, :confirm => 'Are you sure?', :method => :delete, :class => "btn"

%p= link_to "New Price History", new_price_history_path(price_history)
