.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"} }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href=>"#"} Pricer
      .nav-collapse
        %ul.nav
          %li= link_to("Главная", root_path)
          %li= link_to("Поиск", searches_path)
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
              Справочник
              %b.caret
            %ul.dropdown-menu
              %li= link_to("Список", items_path)
              %li= link_to("Новая запись", new_item_path)

          %li= link_to("Связи", links_path)
          %li= link_to("Конфиги", scraped_configurations_path)

        %ul.nav.pull-right
          -if user_signed_in?
            #userBlock
              .userPic
                =image_tag(current_user.small_user_pic_url)
              = link_to('logout', signout_path, :confirm => "Are you sure?")
          - else
            %a{:href => "#{signin_path}"}
              =image_tag("vkontakte.png")

        -#= search_box("bootstrap-forms navbar-search pull-right")
        =form_tag(searches_path, :method => 'get', :class => "bootstrap-forms navbar-search pull-right") do
          .input-append
            %input#q{:name => "q", :type => "text", :placeholder => "Поиск..."}
            %button.btn.search-icon{:type => "button"}
              %i.icon-search



