!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js', :lang => 'ru' do
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  
  %body.bp.two-col{ :class => "#{controller.controller_name}" }
    #container
      %header#header
        = render "layouts/header"
      %nav
        = button_group do
          = button_link_to("Главная", root_path)
          = button_link_to("Поиск", searches_path)
          = button_link_to("Справочник", items_path)
          = button_link_to("Связи", links_path)

      #main{ :role => 'main' }
        = render "layouts/flashes"
        = yield
        
      %footer#footer
        = render "layouts/footer"
        
    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
