!!!

%html{html_attrs('ru-ru')}
  %head
    %link(rel="shortcut icon" href="/favicon.ico")
    %meta{'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml;charset=utf-8'}
    -#%title=@html_title
    -#= auto_discovery_link_tag :rss, rss_url, :title => "Последние материалы сайта"

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'formtastic'

    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    -#= javascript_include_tag 'jquery-1.5.0.min', 'plugins/ui/jquery-ui.min', 'plugins/ui/jquery.ui.tabs.min', 'jrails', 'rails'
    -#= javascript_include_tag 'plugins/swfobject'
    -#= javascript_include_tag 'public/general'
    -#= javascript_include_tag 'public/application'
    = csrf_meta_tag

    - if Rails.env.development?
      -#= javascript_include_tag 'public/development'

    = javascript_tag do
      = yield(:jstemplates)

    = yield(:head)

  %body.bp.two-col
    #container
      #header
        %h1 Pricer 0.1
      #sidebar
        %ul
          %li
            = link_to("Главная", root_path)
          %li
            = link_to("Поиск", searches_path)
          %li
            = link_to("Items", items_path)
          %li
            = link_to("Links", links_path)

      #content
        = yield

      #footer
        Pricer 2011

