!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-html_tag :class => 'no-js', :lang => 'ru' do
  = render "head"
  
  %body
    = render "layouts/navigation"

    .container
      -#.span12
        %header#header
          = render "layouts/header"


      #main
        .row
          .span12
            = render "layouts/flashes"
        = yield
      %hr
      %footer
        = render "layouts/footer"
        
    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
